.nav-user .user img {
    border-radius: 0px;
}

.mainLogo {
    width: 100px;
    margin: 30px auto;
}

.mainLogo img {
    width: 100%;
}

.memoriForm .row {
    margin-bottom: 30px;
}

.content .alert {
    float: right;
    min-width: 500px;
    right: 100px;
    position: absolute;
    width: auto;
    z-index: 1;
}

.coverImgContainer .coverImg {
    height:100%;
}

.coverImgContainer {
    text-align: center;
}

.gameVersionTitle {
    font-size: 35px;
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
}

.statusIcon {
    font-size: large;
}

.gameVersionItem {
    height: 480px;
}

.gameVersionItem .card-body {
    height: 220px;
}

.gameVersionDescription {
    height: 60%;
    overflow: auto;
}

.langImg {
    height: 25px;
    position: absolute;
    float: right;
    right: 5px;
    top: 5px;
}

body {
    margin: 0 81px 0 81px;
    background: #F7F7F7;
}

.cardEquivalenceArrow {
    text-align: center;
}


.cardEquivalenceArrow i {
    color: #337ab7;
    font-size: 80px;
    margin-top: 60%;
}

.disabledForm {
    pointer-events:none;
    opacity: 0.5;
}

#newCardBtn {
    width: 100%;
    height: 300px;
    padding: 100px;
    border: 2px dashed #337ab7;
}

#newCardBtn i {
    font-size: 80px;
    color: #337ab7;
}

.cardAssociationBtnContainer {
    text-align: center;
    margin-top: 30%;
}

.cardAssociationBtn {
    width: 100%;
    height: 250px;
    color: white;
    font-size: 40px;
}
