.nav-user .user img {
  border-radius: 0px;
}

.mainLogo {
  width: 100px;
  margin: 30px auto;
}

.mainLogo img {
  width: 100%;
}

.memoriForm .row {
  margin-bottom: 30px;
}

.content .alert {
  float: right;
  min-width: 500px;
  right: 100px;
  position: absolute;
  width: auto;
  z-index: 1;
}

.navbar{
  margin-bottom: 0px;
}

.breadcrumb {
  //float: left;
  max-width: 35%;
}

.noFloatAlert {
  float: none !important;
  position: initial !important;
}

.coverImgContainer .coverImg {
  height:100%;
  width: 250px;
}

.coverImgContainer {
  text-align: center;
}

.gameVersionTitle {
  font-size: 35px;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

.statusIcon {
  font-size: large;
}

.gameFlavorItem {
  height: 480px;
}

.gameFlavorCoverImg {
  width: 250px !important;
}

.gameFlavorItem {
  .card-body {
    height: 220px;
  }

  .description {
    height: 55%;
    overflow: auto;
  }

  .langImg {
    height: 25px;
    position: absolute;
    float: right;
    right: 5px;
    top: 5px;
  }
}

.coverImg {
  width:100%;
}

.gameVersionItem {
  .user-image {
    height: 270px !important;
  }
}

body {
  margin: 0 81px 0 81px;
  background: #F7F7F7;
}

.cardEquivalenceArrow {
  text-align: center;
}


.cardEquivalenceArrow i {
  color: #337ab7;
  font-size: 80px;
  margin-top: 60%;
}

.disabledForm {
  pointer-events:none;
  opacity: 0.5;
}

#newEquivalenceSetBtn {
  width: 100%;
  height: 350px;
  padding: 100px;
  border: 2px dashed #337ab7;
}

#newEquivalenceSetBtn i {
  font-size: 80px;
  color: #337ab7;
}

.cardAssociationBtnContainer {
  text-align: center;
  margin-top: 30%;
}

.cardAssociationBtn {
  width: 100%;
  height: 250px;
  color: white;
  font-size: 40px;
}

.height100x100 {
  height: 100%;
}

.cardItem {
  width: 100%;

  height: 270px;
  margin-bottom: 0px !important;
}

.cardItem .card-heading .user-image {
  height: 210px !important;
}

.equivalenceSetContainer {
  margin-bottom: 20px;
  height: 350px;
  background-color: lightslategray;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 992px) {
  .equivalenceSetContainer {
      height: auto;
  }
  #newEquivalenceSetBtn {
      margin-bottom: 20px;
  }
}

.equivalenceSet {

  padding: 15px;
  //margin-right: 10px;
}

.resourcesTable {
  width: 100%;
  margin-bottom: 20px;
}

.width-percent-80 {
  width: 80% !important;
}

.width-percent-60 {
  width: 60% !important;
}


.accordion .panel-heading.active a:after {
  content: '\f123';
}

.accordion .panel-heading a:after {
  content: '\f124';
}

.centeredVertically {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}

.padding-30 {
  padding: 30px !important;
}

