.nav-user .user img {
  border-radius: 0px;
}

.mainLogo {
  width: 100px;
  margin: 30px auto;
}

.mainLogo img {
  width: 100%;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.memoriActionBtns h1 {
  color: inherit;
  margin: 15px auto;
}

.onlineImg {
  height: 40px;
}

.aboutLink {
  text-align: center;
  font-size: 70%;
  margin-bottom: 10px;
}

.descriptionSoundContainer {
  padding: 10px;
  margin-top: 10px;
  background-color: lightgray;
}

.padding-15 {
  padding: 15px;
}

.memoriForm .row {
  margin-bottom: 30px;
}

.content .alert {
  float: right;
  min-width: 500px;
  right: 100px;
  position: absolute;
  width: auto;
  z-index: 1;
}

.navbar{
  margin-bottom: 0px;
}

.breadcrumb {
  float: none;
  max-width: 35%;
}

.noFloatAlert {
  float: none !important;
  position: initial !important;
}

.coverImgContainer .coverImg {
  height:100%;
  width: 250px;
}

.signedJarMsg {
  color: darkred;
}

.coverImgContainer {
  text-align: center;
}

.gameVersionTitle {
  font-size: 35px;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

.statusIcon {
  font-size: large;
}

.gameFlavorItem {
  height: 570px;

  .installJavaMsg {
    font-size: smaller;
  }
}

.gameFlavorCoverImg {
  width: 250px !important;
}

.item-right {
  text-align: right;
}

.item-left {
  text-align: left;
}

.gameFlavorItem {
  .card-body {
    height: 245px;

    h6 {
      margin-bottom: 3px;
    }
  }

  .reportGameFlavorBtn {
    color: #f44336;
  }

  .description {
    height: auto;
    overflow: auto;
    max-height: 150px;
  }

  .langImg {
    height: 25px;
    position: absolute;
    float: right;
    right: 5px;
    top: 5px;
  }

  .cloneBtn {
    position: absolute;
    float: left;
    left: 5px;
    top: 5px;
    font-size: small;
  }
}

.coverImg {
  width:100%;
}

.gameVersionItem {
  .user-image {
    height: 270px !important;
  }
}

body {
  margin: 0 81px 0 81px;
  background: #F7F7F7;
}

.cardEquivalenceArrow {
  text-align: center;
}


.cardEquivalenceArrow i {
  color: #337ab7;
  font-size: 80px;
  margin-top: 60%;
}

.disabledForm {
  pointer-events:none;
  opacity: 0.5;
}

#newEquivalenceSetBtn {
  width: 100%;
  height: 350px;
  padding: 100px;
  border: 2px dashed #337ab7;
}

#newEquivalenceSetBtn i {
  font-size: 80px;
  color: #337ab7;
}

.cardAssociationBtnContainer {
  text-align: center;
  margin-top: 30%;
}

.cardAssociationBtn {
  width: 100%;
  height: 250px;
  color: white;
  font-size: 40px;
}

.height100x100 {
  height: 100%;
}

.cardItem {
  width: 100%;

  height: 270px;
  margin-bottom: 0px !important;
}

.cardItem .card-heading .user-image {
  height: 210px !important;
}

.equivalenceSetContainer {
  margin-bottom: 20px;
  height: 385px;
  background-color: lightslategray;
}

.descriptionSoundProbability {
    color: #fff;
    margin-top: 5px;
  font-size: medium;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 992px) {
  .equivalenceSetContainer {
      height: auto;
  }
  #newEquivalenceSetBtn {
      margin-bottom: 20px;
  }
}

.equivalenceSet {
  padding: 15px;

  audio {
    width:100%;
  }
}

.resourcesTable {
  width: 100%;
  margin-bottom: 20px;
}

.width-percent-100 {
  width: 100%;
}

.width-percent-80 {
  width: 80% !important;
}

.width-percent-60 {
  width: 60% !important;
}


.accordion .panel-heading.active a:after {
  content: '\f123';
}

.accordion .panel-heading a:after {
  content: '\f124';
}

.centeredVertically {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}

.padding-30 {
  padding: 30px !important;
}

.fa-check {
  color: #5cb85c;
}

.extraInfo {
  font-size: 77%;
  margin-top: 10px;
}

.instructionsContainer .card-body {
  font-size: medium;
}

.centerMessage {
  text-align: center;
  font-size: 220%;
  color: #888;
  margin-bottom: 40px;

  i {
    color: #3f51b5;
  }

  .fa-arrow-right {

    margin-left: 20px;
    margin-right: 20px;
  }
}

.downloadBtn {
  width: 70%;
  height: 70px;
  font-size: x-large;
}

.downloadBtnContainer {
  position: absolute;
  bottom: 25px;
  width: 90%;
  text-align: center;

  a {
    height: 70px;
  }
}

.privacyText {
  font-size: small;
  color: grey;
}

.bigModal {
  .modal-dialog {
    width: 50%
  }
}

@media only screen and (max-width: 768px) {
  .bigModal {
    .modal-dialog {
      width: 90%;
    }
  }
}