:root {
  --color-shapes-light-brown: rgba(190, 169, 107, 0.5);
  --color-shapes-green: #70a64f;
  --color-shapes-dark: #182b24;
  --color-shapes-oil: #6e834b;
  --color-shapes-light-grey: #808c8a;
  --color-shapes-dark-green: #538a3c;
  --color-shapes-dark-grey: #4e5f5d;
  --color-shapes-darkest-grey: #44584a;
  --color-shapes-brown: #9c6c2c;
}
.shapes-btn{
  background-color:var(--color-shapes-green);
  color: #ffff;
  border-color: var(--color-shapes-green)!important;
  &:hover{
    background-color:var(--color-shapes-dark-green)!important;
  }
}

a{
  color: var(--color-shapes-brown);
  &:hover{
    color:var(--color-shapes-dark-grey)!important;
  }
}
.shapes-message{
  color: var(--color-shapes-green);
  &:hover{
    color:var(--color-shapes-dark-green)!important;
  }
}

.login-page-shapes {
  background-color: var(--color-shapes-light-brown);
  padding: 20px;
  text-align: center;

  form {
    width: 100%;
    text-align: center;
    @media (max-width: 768px) {
      width: 85%;
    }
    background-color: #ffff;

    height: 55%;
    padding: 30px;

    label {
      color: var(--color-shapes-brown);
      font-size: 1.6rem;
    }

    button {
      width: 100%;
    }

    .form-control {
      min-height: 54px;
      background-color: var( --color-offwhite);
      font-size: 16px;
      &::placeholder {
        font-style: italic;
        font-size: 1.8rem;
      }
    }
  }
}
